.footer {
    background-color: #d53a47;
    color: white;
    padding: 20px;
    text-align: center;
    position: relative;
    bottom: 0;
    display: flex;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}

.footer-content {
    max-width: 800px;
    margin: 0 auto;
}

.footer p {
    margin: 5px 0;
    font-size: 16px;
}

.social-links {
    list-style: none;
    padding: 0;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    gap: 20px;
}
 
.social-links li {
    display: inline;
}

.social-links a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s ease;
}

.social-links a:hover {
    color: #f7d280;
}
