body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
} 

.section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    background-color: #f0f0f0;
    margin-top: 15px;
    margin-bottom: 15px;
}

.container {
    text-align: center;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 550px;
}

h1 {
    color: #ff6347;
    margin-bottom: 15px;
}

h2 {
    color: #ff6347;
    margin-bottom: 15px;
}

p {
    font-size: 16px;
    line-height: 1.6;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #ff6347;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

button:hover {
    background-color: #ff4500;
}
